<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.iot.mapper.AlertTriggerMapper">

    <resultMap type="com.frog.iot.domain.AlertTrigger" id="AlertTriggerResult">
        <result property="alertTriggerId"    column="alert_trigger_id"    />
        <result property="alertId"    column="alert_id"    />
        <result property="status"    column="status"    />
        <result property="source"    column="source"    />
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
        <result property="operator"    column="operator"    />
        <result property="type"    column="type"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="jobId"    column="job_id"    />
        <result property="cronExpression"    column="cron_expression"    />
        <result property="isAdvance"    column="is_advance"    />
    </resultMap>

    <sql id="selectAlertTriggerVo">
        select alert_trigger_id, alert_id,status, source, id, name, value, operator, type, product_id, product_name, job_id, cron_expression, is_advance from iot_alert_trigger
    </sql>

    <select id="selectAlertTriggerListByAlertIds" parameterType="String" resultMap="AlertTriggerResult">
        <include refid="selectAlertTriggerVo"/>
        where alert_id in
        <foreach item="alertId" collection="array" open="(" separator="," close=")">
            #{alertId}
        </foreach>
    </select>

    <select id="selectAlertTriggerList" parameterType="com.frog.iot.model.TriggerParameter" resultMap="AlertTriggerResult">
        <include refid="selectAlertTriggerVo"/>
        <where>
            <if test="type != null "> and type = #{type}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="source != null "> and source = #{source}</if>
            <if test="ids != null "> and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectAlertTriggerByAlertTriggerId" parameterType="Long" resultMap="AlertTriggerResult">
        <include refid="selectAlertTriggerVo"/>
        where alert_trigger_id = #{alertTriggerId}
    </select>

    <insert id="insertAlertTriggerList" parameterType="com.frog.iot.domain.AlertTrigger" useGeneratedKeys="true" keyProperty="alertTriggerId">
        insert into iot_alert_trigger (alert_id,status,source,id, name, value,operator,type,product_id,product_name,job_id,cron_expression,is_advance)
        VALUES
        <foreach collection ="list" item="alertTrigger" separator =",">
           (#{alertTrigger.alertId},
            #{alertTrigger.status},
            #{alertTrigger.source},
            #{alertTrigger.id},
            #{alertTrigger.name},
            #{alertTrigger.value},
            #{alertTrigger.operator},
            #{alertTrigger.type},
            #{alertTrigger.productId},
            #{alertTrigger.productName},
            #{alertTrigger.jobId},
            #{alertTrigger.cronExpression},
            #{alertTrigger.isAdvance})
        </foreach >
    </insert>

    <update id="updateAlertTrigger" parameterType="com.frog.iot.domain.AlertTrigger">
        update iot_alert_trigger
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertId != null">alert_id = #{alertId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="source != null">source = #{source},</if>
            <if test="id != null">id = #{id},</if>
            <if test="name != null">name = #{name},</if>
            <if test="value != null">value = #{value},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="type != null">type = #{type},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="jobId != null">job_id = #{jobId},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if>
            <if test="isAdvance != null">is_advance = #{isAdvance},</if>
        </trim>
        where alert_trigger_id = #{alertTriggerId}
    </update>

    <delete id="deleteAlertTriggerByAlertTriggerId" parameterType="Long">
        delete from iot_alert_trigger where alert_trigger_id = #{alertTriggerId}
    </delete>

    <delete id="deleteAlertTriggerByAlertIds" parameterType="String">
        delete from iot_alert_trigger where alert_id in
        <foreach item="alertId" collection="array" open="(" separator="," close=")">
            #{alertId}
        </foreach>
    </delete>
</mapper>