<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.agriculture.mapper.MaterialInfoMapper">
    
    <resultMap type="MaterialInfo" id="MaterialInfoResult">
        <result property="materialId"    column="material_id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialTypeId"    column="material_type_id"    />
        <result property="measureUnit"    column="measure_unit"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectMaterialInfoVo">
        select material_id, material_code, material_name, material_type_id, measure_unit, remark, status, order_num, create_by, create_time, update_by, update_time, del_flag from agriculture_material_info
    </sql>

    <select id="selectMaterialInfoList" parameterType="MaterialInfo" resultMap="MaterialInfoResult">
        <include refid="selectMaterialInfoVo"/>
        <where>  
            <if test="materialCode != null  and materialCode != ''"> and material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialTypeId != null "> and material_type_id = #{materialTypeId}</if>
            <if test="measureUnit != null  and measureUnit != ''"> and measure_unit = #{measureUnit}</if>
and del_flag = 0
        </where>
    </select>
    
    <select id="selectMaterialInfoByMaterialId" parameterType="Long" resultMap="MaterialInfoResult">
        <include refid="selectMaterialInfoVo"/>
        where material_id = #{materialId} and del_flag=0
    </select>
        
    <insert id="insertMaterialInfo" parameterType="MaterialInfo" useGeneratedKeys="true" keyProperty="materialId">
        insert into agriculture_material_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialCode != null and materialCode != ''">material_code,</if>
            <if test="materialName != null and materialName != ''">material_name,</if>
            <if test="materialTypeId != null">material_type_id,</if>
            <if test="measureUnit != null and measureUnit != ''">measure_unit,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialCode != null and materialCode != ''">#{materialCode},</if>
            <if test="materialName != null and materialName != ''">#{materialName},</if>
            <if test="materialTypeId != null">#{materialTypeId},</if>
            <if test="measureUnit != null and measureUnit != ''">#{measureUnit},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateMaterialInfo" parameterType="MaterialInfo">
        update agriculture_material_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialCode != null and materialCode != ''">material_code = #{materialCode},</if>
            <if test="materialName != null and materialName != ''">material_name = #{materialName},</if>
            <if test="materialTypeId != null">material_type_id = #{materialTypeId},</if>
            <if test="measureUnit != null and measureUnit != ''">measure_unit = #{measureUnit},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where material_id = #{materialId}
    </update>

    <update id="deleteMaterialInfoByMaterialId" parameterType="Long">
        update agriculture_material_info set del_flag = 2 where material_id = #{materialId}
    </update>

    <update id="deleteMaterialInfoByMaterialIds" parameterType="String">
        update agriculture_material_info set del_flag = 2  where material_id in
        <foreach item="materialId" collection="array" open="(" separator="," close=")">
            #{materialId}
        </foreach>
    </update>
</mapper>