<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.agriculture.mapper.TraceVersionMapper">
    
    <resultMap type="TraceVersion" id="TraceVersionResult">
        <result property="versionId"    column="version_id"    />
        <result property="sellproId"    column="sellpro_id"    />
        <result property="versionCode"    column="version_code"    />
        <result property="expireDate"    column="expire_date"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectTraceVersionVo">
        select version_id, sellpro_id, version_code, expire_date, remark, status, order_num, create_by, create_time, update_by, update_time, del_flag from agriculture_trace_version
    </sql>

    <select id="selectTraceVersionList" parameterType="TraceVersion" resultMap="TraceVersionResult">
        <include refid="selectTraceVersionVo"/>
        <where>  
            <if test="sellproId != null "> and sellpro_id = #{sellproId}</if>
            <if test="versionCode != null  and versionCode != ''"> and version_code = #{versionCode}</if>
            <if test="expireDate != null "> and expire_date = #{expireDate}</if>
and del_flag = 0
        </where>
    </select>
    
    <select id="selectTraceVersionByVersionId" parameterType="Long" resultMap="TraceVersionResult">
        <include refid="selectTraceVersionVo"/>
        where version_id = #{versionId} and del_flag=0
    </select>
        
    <insert id="insertTraceVersion" parameterType="TraceVersion" useGeneratedKeys="true" keyProperty="versionId">
        insert into agriculture_trace_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sellproId != null">sellpro_id,</if>
            <if test="versionCode != null and versionCode != ''">version_code,</if>
            <if test="expireDate != null">expire_date,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sellproId != null">#{sellproId},</if>
            <if test="versionCode != null and versionCode != ''">#{versionCode},</if>
            <if test="expireDate != null">#{expireDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateTraceVersion" parameterType="TraceVersion">
        update agriculture_trace_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="sellproId != null">sellpro_id = #{sellproId},</if>
            <if test="versionCode != null and versionCode != ''">version_code = #{versionCode},</if>
            <if test="expireDate != null">expire_date = #{expireDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where version_id = #{versionId}
    </update>

    <update id="deleteTraceVersionByVersionId" parameterType="Long">
        update agriculture_trace_version set del_flag = 2 where version_id = #{versionId}
    </update>

    <update id="deleteTraceVersionByVersionIds" parameterType="String">
        update agriculture_trace_version set del_flag = 2  where version_id in
        <foreach item="versionId" collection="array" open="(" separator="," close=")">
            #{versionId}
        </foreach>
    </update>
</mapper>